<!-- <section class="other">
    <span class="deca-normal">{{name}}</span>
    <span class="deca-normal-32">{{subname}}</span>
    <div class="other-wrapper">

        <div *ngFor="let art of data" class="favorite-item">
                <a [routerLink]="['/art', art?.id]" class="art-link">
                    <img width="80px" height="80px" [src]="art?.image_id | urlPipe" alt="">
                </a>
                <div class="art-description_wrapper">
                        <span class="deca-medium">{{art?.title | dotsPipe}}</span>
                        <span class="deca-normal-artist">{{art?.artist_title}}</span>
                        <div class="public">
                            <span class="deca-bold-15">Public</span>
                        </div>
                 </div>
                <button class="btn-img" (click)="toggleFavorite(art)">
                        <img width="24px" height="24px" [src]="isFavorite(art.id) ? 'icon-filled.svg' : 'icon.svg'" alt="">
                 </button>
            </div>
    </div>
</section> -->
<section class="other">
    <span class="deca-normal">{{name}}</span>
    <span class="deca-normal-32">{{subname}}</span>

    <!--  Выбор критерия сортировки -->
    <div class="sort-options">
        <label for="sort-select">Sort by:</label>
        <select id="sort-select" [(ngModel)]="sortCriteria" (change)="onSortCriteriaChange()">
            <option value="default">Default</option>
            <option value="title">Title</option>
            <option value="artist">Artist</option>
            <!-- Добавьте другие опции сортировки, если необходимо -->
        </select>
    </div>

    <div class="other-wrapper">
        <div *ngFor="let art of sortedData" class="favorite-item">
            <a [routerLink]="['/art', art?.id]" class="art-link">
                <img width="80px" height="80px" [src]="art?.image_id | urlPipe" alt="">
            </a>
            <div class="art-description_wrapper">
                <span class="deca-medium">{{art?.title | dotsPipe}}</span>
                <span class="deca-normal-artist">{{art?.artist_title}}</span>
                <div class="public">
                    <span class="deca-bold-15">Public</span>
                </div>
            </div>
            <button class="btn-img" (click)="toggleFavorite(art)">
                <img width="24px" height="24px" [src]="isFavorite(art.id) ? 'icon-filled.svg' : 'icon.svg'" alt="">
            </button>
        </div>
    </div>
</section>