.other{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-wrapper{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.favorite-item{
    align-items: center;
    padding: 25px 13px 16px 13px;
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: 80px 1fr 59px;
}