.search{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 72px;
    align-items: center ;
}

.search-form{
    max-width: 762px;
    height: 64px;
    background-color: var(--darkest-color-transparent);
    display: grid;
    grid-template-columns: 500px 1fr;
    border-radius: 16px;
    align-items: center;
    padding: 16px;
}

.search-form input{ 
    background-color: var(--darkest-color-transparent);
    color:var(--dark-color-transparent);
    border: none;
}
