.header{
    background: var(--gradient-color);
    height: 127px;
    width: 100%;
    padding-left: 320px;
    padding-right: 320px;
    display: grid;
    grid-template-columns: 206px 1fr;
    align-items: center;
    justify-items: last baseline;
}

.header-wrapper{
    display: flex;
    flex-direction: row;
    gap:16px;
}

.header-items{
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 2.5px;
    align-items: center;
    text-decoration: none;
}

.header-img{
    
}
