@font-face {
    font-display: swap;
    font-family: 'LexendDeca-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/Lexend_Deca/static/LexendDeca-Bold.ttf') format('truetype')
}

@font-face {
    font-display: swap;
    font-family: 'LexendDeca-Normal';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/Lexend_Deca/static/LexendDeca-Regular.ttf') format('truetype')
}

@font-face {
    font-display: swap;
    font-family: 'LexendDeca-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/Lexend_Deca/static/LexendDeca-Medium.ttf') format('truetype')
}

@font-face {
    font-display: swap;
    font-family: 'LexendDeca-Light';
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/Lexend_Deca/static/LexendDeca-Light.ttf') format('truetype')
}

@font-face {
    font-display: swap;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype')
}

:root{
    --light-color:#FFFFFF;
    --grey-color: #FAFAFA;
    --orange-color: #E0A449;
    --dark-color:#393939;
    --orange-faint-color:#F17900;
    --gradient-color: linear-gradient(to right, #343333,#484848,#282828);
    --dark-color-transparent: rgba(57, 57, 57, 0.5);
    --darkest-color-transparent: rgba(57, 57, 57, 0.05);
    --orange-color-transparent: rgba(251, 215, 178, 0.3);
    --blue-dark-color:#2C3144;
    --light-border-color: #F0F1F1;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--dark-color);
}

.text-link{
    font-family: "Inter-Regular", sans-serif;
    color: var(--light-color);
    font-size: 18px;
    line-height: 21.78px;
}

.capture-text{
    font-family: "LexendDeca-Bold", sans-serif;
    color: var(--dark-color);
    font-size: 64px;
    line-height: 80px;
}

.search-text{
    font-family: "Inter-Regular", sans-serif;
    color:var(--dark-color-transparent);
    font-size: 14px;
    line-height: 16.94px;
}

.deca-normal{
    font-family: "LexendDeca-Normal", sans-serif;
    color: var(--orange-color);
    font-size: 16px;
    line-height: 20px;
}

.deca-normal-artist{
    font-family: "LexendDeca-Normal", sans-serif;
    color: var(--orange-color);
    font-size: 15.35px;
    line-height: 26.32px;
}

.deca-normal-32{
    font-family: "LexendDeca-Normal", sans-serif;
    color: var(--dark-color);
    font-size: 32px;
    line-height: 40px;
}

.deca-medium{
    font-family: "LexendDeca-Medium", sans-serif;
    color:var(--dark-color);
    font-size: 17.54px;
    line-height: 26.32px;
}

.deca-light{
    font-family: "LexendDeca-Light", sans-serif;
    color:var(--dark-color);
    font-size: 18px;
    line-height: 24px;
}

.btn-img{
    width: 59px;
    height: 59px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-img:hover{
    background-color: var(--orange-color-transparent);
}


